.box {
      width: 100px;
      height: 100px;
      margin: 20px;
}

.redbox {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
      background-color: red;
}

.greenbox {
    position:absolute;
    z-index: -1;
    top: -70px;
    left: -70px;
    width: 100px;
    height: 100px;
    margin: 20px;
      background-color: green;
    }
