h1{
color: aqua;

    
}
.example{
color: blue;
background-color:beige;
padding:20pz; 
margin: 20px;
height: 100px;
width: 100px; 
background-color:brown;

  border: 10px solid black;
    
}   
.example1{
    color: blue;
    background-color:beige;
    padding:20pz; 
    margin: 20px;
    height: 100px;
    width: 100px; 
    background-color:brown;
    
      border: 10px solid black;
        border-radius: 100px;
    }      
.example2{

width: 300px;
height: 300px;
color: beige;

}     
.example3{

    width: 40px;
    height: 40px;
    color:red;
    
    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               