.div{
width: 200px;
left: 120px;

}
.div1{

height: 90px;
width: 300px;
background-color: blue;
}


body {
    
    background-color:palevioletred;
    margin: 0;
    padding: 0;
    color: #333;
  }

  header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 0;
  }

  section {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  p1{
  color: black;
 text-align: center;

  }

  h1, h2,h3 {
    color: black;
  }
h5{
color:black;
text-align: center;
}
  
  img {
    height: 90px;
      border-radius: 8px;
      margin-bottom: 10px;
  }

  
  